
/* Fonts */
body{
    font-family: 'Poppins' , sans-serif;
    overflow-x: hidden;
}
/* END Fonts */



/* Banner */
.banner{    
    background-position: right;
    background-image: url("../images/banner/banner_2_2.png");
    height:650px;
    max-width: 100%;
}
/* END Banner */

/* Header */
.msg-custom{
    padding-top: 1%;
    padding-bottom: 1%;
}
a{
    color: gray;
}
.header-position{
    padding:2% 0 2% 0;  
    /* position: fixed;     */
}
.header-content{
    margin-top: 8%;
    padding: 0%;
}
h1{
    font-size: 60px;
    color: white;
}
p .btn-custom{
    margin-top: 1%;
    padding:2%;
    width: 19%;
    font-weight: bold;
    border-radius: 40px;
}
.line-position{
    position: relative; 
    border: 0.5px solid gray;
    margin-top: 0.7%;
    width: 100%;
}
/* END header */

/* Navbar */
.dropdown {
    position: relative;
    display: inline-block;
    color: white;
    font-weight: bold;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    width: max-content;
    margin-top: 4%;
  }
  .dropdown-content a{
      color: black;
  }

  .dropdown-content li{
      padding:8%;
  }

  .dropdown:hover .dropdown-content {
    display: block;    
  }
  .nav-position li{
      margin-left: 3%;
  }

  ul li a{
    color: white;
    font-weight: bold;
  }
  
  ul li a:hover{
      text-decoration: none;
      color: white;
  }
  .nav-position{
      margin-left: 56%;
      width:200%;
      padding-top: 3%;
      float:left;
  }
  li{
    display: inline-block;  
    margin-left: 2%;
  }
  .btn-custom-get-quote{
      border-radius: 40px;
      padding: 10%;
      width: 130%;
      font-weight: bold;
  }
  .btn-position{
      position: absolute;
      margin-left: 56%;      
  }
/* END Navbar */


/* Start Content */
.content{
    text-align: center;
}
.content p{
    margin-top: 8%;
    font-size: 45px;
    margin-bottom: 3%;
}
.float-left{
    float: left;
}
.card-position{
    width: 31.33%;
    margin-top: 3%;
}
.card-margin{
    margin-left: 3%;
}
.card-body p{
    font-size: 15px;
}
.card-text-padding{
    padding:0 3.5% 0 3.5%
}
.aboutus-position{
    margin-top: 77%;
}
.aboutus-content{
    padding: 10% 0 12% 0;
    padding-right: 1.5%;
    color: gray;
    margin-bottom: 5%;
}
.aboutus-content h2{
    font-size: 45px;
    color: black;    
}
img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 3%;
}
.aboutus-image{
    padding-left: 1.5%;
    margin-bottom: 5%;
}
.btn-custom-aboutus{
    margin-top: 2%;
    border-radius: 40px;
    padding: 2%;
    width: 25%;
    font-weight: bold;
}
.report{
    margin: 0% 0 5% 0;
}
.report-background{
    clear: left;
    background-image: url("../images/case/4.png");
    background-size: cover;
    height: 400px;
    max-width: 100%;
    background-position: 30% 25%;
    background-repeat: no-repeat;
}
.card-custom{
    margin-top: 5%;
    border-radius: 3%;    
}
.btn-more-cases{
    margin: 5% 0 3% 42%;
    width: 17%;
    padding: 1.5%;
    border-radius: 40px;
    border-color: rgb(66, 96, 230);
    color: rgb(66, 96, 230);
    background-color: white;
}
.svg-bg-color{
    background-color: rgb(12, 175, 240);
    border-radius: 100%;
}
.icon{
    margin: 7% 35% 4% 35%;
}
.circle{
    margin:30%;
    border-radius: 0%;
}
.report-col-position{
    padding: 8%;
    text-align: center;
}
.report-col-position h2{
    margin: 5% 0 0 2%;
    color: white;
    font-size: 45px;
}
.report-col-position h4{
    margin: 3% 0 0 2%;
    color:white;
    font-size: 15px;
}
/* End Content */

/* Start Testmonial */
.testmonial-banner{
    background-image: url(../images/banner/testmonial.png);
    height: 500px;
    margin: 3% 0 3% 0;
}
.carousel-position{
    padding: 4%;
}
.carousel-custom{
    background:none;
}
.carousel-item img{
    margin:0 0 5% 47%;
}
.quote-text{
    padding: 0 20% 0 20%;
    text-align: center;
    font-size: 20px;
    color: white;
}
.quote-owner img{
    padding: 5% 0% 2% 0%;
    margin:0 50% 0 46%;
}
.quote-owner p{
    font-size: 17px;
    font-weight: bold;
    color: white;
}
.quote-owner h4{
    font-size: 14px;
}
/* End Testmonial */

/* Start get-free-quotation section */
.quotation-position{
    margin:18% 0 0% 0;
}
.form-position{
    margin:10% 10% 0 0;
}
input{
    margin: 8% 0 8% 0;
}
.btn-custom-send{
    margin-top: 8%;
    border-radius: 40px;
    width: 100%;
    padding: 3%;
    font-weight: bold;
}
/* End get-free-quotation section */