
/* Fonts */
body{
    font-family: 'Poppins' , sans-serif;
    overflow-x: hidden;
}
.btn-gradient{
    border-radius: 40px;
    background-image: linear-gradient( rgb(10, 133, 235),rgb(30, 133, 235),rgb(50, 133, 235),rgb(107, 163, 253) );
}
/* END Fonts */



/* Banner */
.banner{    
    background-position: right;
    background-image: url("../images/banner/banner_2.png");
    background-blend-mode: multiply;
    background-color:rgb(120, 128, 146);
    height:650px;
    max-width: 100%;
}
/* END Banner */

/* Header */
.msg-custom{
    padding-top: 1%;
    padding-bottom: 1%;
}
a{
    color: gray;
}
.header-position{
    padding:2% 0 2% 0;  
}
.header-content{
    margin-top: 8%;
    padding: 0%;
}
h1{
    font-size: 60px;
    color: white;
}
p .btn-our-service-custom{
    margin-top: 1%;
    padding:1.5% 0 1.5% 0;
    width: 19%;
    font-weight: bold;
}
.line-position{
    position: relative; 
    border: 0.5px solid gray;
    margin-top: 0.7%;
    width: 100%;
}
/* END header */

/* Navbar */
.dropdown {
    position: relative;
    display: inline-block;
    color: white;
    font-weight: bold;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-image: linear-gradient( rgba(149, 154, 161,0.5),rgba(177, 182, 190,0.5),rgba(210, 216, 226,0.5));
    border-radius: 10%;
    width: max-content;
    margin-top: 8%;
    color: black;
  }

  .dropdown-content a{
      color: black;
  }

  .dropdown-content li{
      padding:8%;
  }

  .dropdown:hover .dropdown-content {
    display: block;        
  }
  
  .nav-position li{
      margin-left: 3%;
  }

  .header-position a{
    color: white;
    font-weight: bold;
  }
  
  .header-position a:hover{
      text-decoration: none;
      color:black;
  }
  .nav-position{
      margin-left: 56%;
      width:200%;
      padding-top: 3%;
      float:left;
  }
  li{
    display: inline-block;  
    margin-left: 2%;
  }
  .btn-custom-get-quote{
      border-radius: 40px;
      padding: 10%;
      width: 130%;
      font-weight: bold;
  }

  .btn-position{
      position: absolute;
      margin-left: 56%;      
  }
/* END Navbar */


/* Start Content */
.content{
    text-align: center;
}
.content p{
    margin-top: 8%;
    font-size: 45px;
    margin-bottom: 3%;
}
.float-left{
    float: left;
}
.card-position{
    width: 31.33%;
    margin-top: 3%;
}
.card-margin{
    margin-left: 3%;
}
.card-body p{
    font-size: 15px;
}
.card-text-padding{
    padding:0 3.5% 0 3.5%
}
.aboutus-position{
    margin-top: 77%;
}
.aboutus-content{
    padding: 10% 0 12% 0;
    padding-right: 1.5%;
    color: gray;
    margin-bottom: 5%;
}
.aboutus-content h2{
    font-size: 45px;
    color: black;    
}
img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 3%;
}
.aboutus-image{
    padding-left: 1.5%;
    margin-bottom: 5%;
}
.btn-custom-aboutus{
    margin-top: 2%;
    border-radius: 40px;
    padding: 2%;
    width: 25%;
    font-weight: bold;
}
.report{
    margin: 0% 0 5% 0;
}
.report-background{
    clear: left;
    background-image: url("../images/case/4.png");
    background-size: cover;
    height: 400px;
    max-width: 100%;
    background-blend-mode: multiply;
    background-color: rgb(88, 117, 126);
    background-position: 30% 25%;
    background-repeat: no-repeat;
}
.card-custom{
    margin-top: 5%;
    border-radius: 3%;    
}
.btn-more-cases{
    margin: 5% 0 3% 42%;
    width: 17%;
    padding: 1.5%;
    border-radius: 40px;
    border-color: rgb(66, 96, 230);
    color: rgb(66, 96, 230);
    background-color: white;
}
.svg-blue-gradient{
    border-radius: 40px;
    background-image: linear-gradient( rgb(27, 123, 233),rgb(45, 104, 231),rgb(104, 146, 236),rgb(142, 176, 248) );
    border-radius: 100%;
}
.svg-green-gradient{
    border-radius: 40px;
    background-image: linear-gradient( rgb(44, 224, 119),rgb(64, 224, 131),rgb(103, 226, 154));
    border-radius: 100%;
}
.svg-orange-gradient{
    border-radius: 40px;
    background-image: linear-gradient( rgb(248, 130, 52),rgb(250, 140, 66),rgb(252, 164, 105));
    border-radius: 100%;
}
.svg-purple-gradient{
    border-radius: 40px;
    background-image: linear-gradient( rgb(108, 32, 250),rgb(136, 49, 250),rgb(187, 61, 245));
    border-radius: 100%;
}
.icon{
    margin: 7% 35% 4% 35%;
}
.circle{
    margin:30%;
    border-radius: 0%;
}
.report-col-position{
    padding: 8%;
    text-align: center;
}
.report-col-position h2{
    margin: 5% 0 0 2%;
    color: white;
    font-size: 45px;
}
.report-col-position h4{
    margin: 3% 0 0 2%;
    color:white;
    font-size: 15px;
}
/* End Content */

/* Start Testmonial */
.testmonial-banner{
    background-image: url(../images/banner/testmonial_2.png);
    height: 500px;
    margin: 3% 0 3% 0;
    background-blend-mode: multiply;
    background-color: rgb(63, 89, 100);
}
.carousel-position{
    padding: 4%;
}
.carousel-custom{
    background:none;
}
.carousel-item img{
    margin:0 0 5% 47%;
}
.quote-text{
    padding: 0 20% 0 20%;
    text-align: center;
    font-size: 20px;
    color: white;
}
.quote-owner img{
    padding: 5% 0% 2% 0%;
    margin:0 50% 0 46%;
}
.quote-owner p{
    font-size: 17px;
    font-weight: bold;
    color: white;
}
.quote-owner h4{
    font-size: 14px;
}
/* End Testmonial */

/* Start get-free-quotation section */
.quotation-position{
    margin:18% 0 0% 0;
}
.form-position , .form-position form{
    margin: 0 10% 0 0 ;
    
}
.form-title{
    font-size: 45px;
    padding-left: 2%;
}
.form-input{
    margin: 8% 0 8% 0;
    border:none;
    border-bottom: 1px solid rgb(194, 189, 189);
    background: transparent;
}
.btn-custom-send{
    margin-top: 2%;
    border-radius: 40px;
    width: 100%;
    padding: 3%;
    font-weight: bold;
}
.md-form textarea{
    padding-top: 15%;
    margin-top: 8%;
}
/* End get-free-quotation section */

/* Start Footer */
.footer-position{
    margin-top: 50%;
}
.footer-banner{
    background-image: url(../images/banner/info_banner.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: rgb(76, 103, 121);
    background-size: cover;
    width: 100%;
}
.footer-banner-content{
    text-align: center;
    color: white;
    padding-top: 10%;
}
.footer-banner-text-title{
    font-size: 45px;
}
.footer-banner-text-content{
    margin:1% 0 2% 0;
    font-size:15px;
}
.btn-custom-call{
    border-radius: 40px;
    padding:1% 2% 1% 2%;
    font-weight: bold;
}
.footer-content{
    padding:8% 0 8% 0;
}
.footer-content-title{
    font-size: 20px;
    font-weight: 500;
}
.footer-links{
    margin-top: 18%;
}
.footer-links ul{
    padding:0;
}
.footer-links li{
    margin: 0 0 5% 0;
}
.footer-links p{
    color: grey;
}
.form-subscribe-border{
    border-radius: 40px;
    border: 1px solid grey;
    padding: 2%;
    width: 150%;
}
.form-subscribe-border input{
    border: none;
    background: transparent;
}
.btn-custom-subscribe{
    border-radius: 40px;
}
.subscribe-text{
    width:150%;
    padding-top: 10%;
}
.footer-social-links span{
    margin:20% 5% 0 0;
    width: 17%;
    padding:5% 12% 4% 6%;
    border-radius: 50%;
    border:1px solid gray;
    display: inline-block;
}

/* End Footer */


/* Start-copyright */
.copyright-line{
    margin-top: 20%;
    text-align: center;
}
.copyright-content{
    font-size: 15px;
    color: gray;
    margin-bottom: 2%;
}
/* End-copyright */